div.download(id="download-info")
  div.fix
    div.download__box
      div.download-info
        i.download-info__ico
        span.download-info__description Downloading -
        span.download-info__title Captain America
        span.download-info__status (105 / 215 MB)

      div.download-action
        div.download-action__item
          div.download__delete
        div.download-action__item
          div.download__restart
        div.download-action__item
          div.download__cancel