div.navigation
  div.navigation__title FEATURED MOVIES
  div.navigation-breadcrumbs
    span.navigation-breadcrumbs__item New Realised
    i.navigation-breadcrumbs__ico /
    span.navigation-breadcrumbs__item.navigation-breadcrumbs__item_active Trailers & Clips
  div.navigation-search
    label.navigation-search__box
      input.navigation-search__input(placeholder="Search...")
      i.navigation__ico