div.fix
  div.gallery.js-gallery
    a.gallery__item(href="#", data-thumb="http://cdn.bulbagarden.net/upload/e/ec/001MS.png", data-text="James Gunn")
      div.gallery__img
        img(src="../images/blocks/guardians.png")
      div.gallery__block
        div.fix
          div.gallery-info
            div.gallery-info__box
              ul.gallery-info__list
                li.gallery-info__item
                  span.gallery-info__title Published
                  span.gallery-info__description Feb 20, 2014
                li.gallery-info__item
                  span.gallery-info__title Updated
                  span.gallery-info__description Feb 20, 2014
                li.gallery-info__item
                  span.gallery-info__title Rating
                  span.gallery-info-rating
                    span.gallery-info-rating__value(style="width: 80%")

            div.gallery-info__box
              ul.gallery-info__list
                li.gallery-info__item
                  span.gallery-info__ico.gallery-info__ico__like
                  span.gallery-info__text 2,548
                li.gallery-info__item
                  span.gallery-info__ico.gallery-info__ico__comments
                  span.gallery-info__text 21
                li.gallery-info__item
                  span.gallery-info__ico.gallery-info__ico__downloads
                  span.gallery-info__text 564


    a.gallery__item(href="#", data-thumb="http://cdn.bulbagarden.net/upload/e/ec/001MS.png", data-text="James Gunn")
      div.gallery__img
        img(src="http://picsum.photos/1200/500")
      div.gallery__block
        div.fix
          div.gallery-info
            div.gallery-info__box
              ul.gallery-info__list
                li.gallery-info__item
                  span.gallery-info__title Published
                  span.gallery-info__description Feb 20, 2014
                li.gallery-info__item
                  span.gallery-info__title Updated
                  span.gallery-info__description Feb 20, 2014
                li.gallery-info__item
                  span.gallery-info__title Rating
                  span.gallery-info-rating
                    span.gallery-info-rating__value(style="width: 30%")

            div.gallery-info__box
              ul.gallery-info__list
                li.gallery-info__item
                  span.gallery-info__ico.gallery-info__ico__like
                  span.gallery-info__text 548
                li.gallery-info__item
                  span.gallery-info__ico.gallery-info__ico__comments
                  span.gallery-info__text 1
                li.gallery-info__item
                  span.gallery-info__ico.gallery-info__ico__downloads
                  span.gallery-info__text 64

    a.gallery__item(href="#", data-thumb="http://cdn.bulbagarden.net/upload/e/ec/001MS.png", data-text="James Gunn")
      div.gallery__img
        img(src="http://picsum.photos/1200/500")
      div.gallery__block
        div.fix
          div.gallery-info
            div.gallery-info__box
              ul.gallery-info__list
                li.gallery-info__item
                  span.gallery-info__title Published
                  span.gallery-info__description Feb 20, 2014
                li.gallery-info__item
                  span.gallery-info__title Updated
                  span.gallery-info__description Feb 20, 2014
                li.gallery-info__item
                  span.gallery-info__title Rating
                  span.gallery-info-rating
                    span.gallery-info-rating__value(style="width: 10%")

            div.gallery-info__box
              ul.gallery-info__list
                li.gallery-info__item
                  span.gallery-info__ico.gallery-info__ico__like
                  span.gallery-info__text 22,548
                li.gallery-info__item
                  span.gallery-info__ico.gallery-info__ico__comments
                  span.gallery-info__text 421
                li.gallery-info__item
                  span.gallery-info__ico.gallery-info__ico__downloads
                  span.gallery-info__text 7564