mixin preview-large(img, value)

  div.preview-large
    div.preview-large__img
      img(src=img)
    div.preview-large__info
      div.preview-large__play
      div.preview-large-status
        div.preview-large-status__value(style=value)